[project]
	description = Android UI Test
[access "refs/*"]
	owner = group user/Jase HA (mindwing)
[access "refs/for/refs/*"]
	read = group user/Jase HA (mindwing)
	push = group user/Jase HA (mindwing)
	label-Code-Review = -2..+2 group user/Jase HA (mindwing)
	label-Verified = -1..+1 group user/Jase HA (mindwing)
	rebase = group user/Jase HA (mindwing)
	removeReviewer = group user/Jase HA (mindwing)
	submit = group user/Jase HA (mindwing)
[access "refs/heads/*"]
	read = group user/Jase HA (mindwing)
	create = group user/Jase HA (mindwing)
	push = +force group user/Jase HA (mindwing)
	pushMerge = group user/Jase HA (mindwing)
[access "refs/tags/*"]
	push = +force group user/Jase HA (mindwing)
	pushTag = group user/Jase HA (mindwing)
	pushSignedTag = group user/Jase HA (mindwing)
